---
import type { Repository } from "@pssbletrngle/webhooks-types";
import type { RepositoryStatus } from "@pssbletrngle/webhooks-types/metadata";
import Refresh from "./Refresh.astro";
import Setup from "./Setup.astro";
import Status from "./Status.astro";

type Props = {
  repo: Repository;
  status?: RepositoryStatus;
};

const { status, repo } = Astro.props as Props;
const canRefresh = status !== "running" || true;
---

<li class="panel">
  <a class="title" href={repo.html_url}>
    {repo.full_name}
  </a>
  {status ? <Status value={status} /> : <Setup repo={repo} />}
  {canRefresh && <Refresh repo={repo} />}
</li>

<style scoped>
  .panel {
    background: #0001;
    width: 350px;
    height: 150px;
    border-radius: 10px;

    display: grid;
    grid-template:
      "title status" 2em
      "description description"
      / 1fr 100px;

    padding: 1em;
  }

  .title {
    color: var(--text);
    grid-area: title;
  }

  .status {
    grid-area: status;
  }
</style>
