---
import type { Repository } from "@pssbletrngle/webhooks-types";
import type { RepositoryStatus } from "@pssbletrngle/webhooks-types/metadata";
import Refresh from "./Refresh.astro";
import Status from "./Status.astro";

type Props = {
  repo: Repository;
  status?: Record<string, RepositoryStatus>;
};

const { status = {}, repo } = Astro.props as Props;
---

<li class="panel">
  <a class="title" href={repo.html_url}>
    {repo.full_name}
  </a>
  {
    Object.entries(status).map(([branch, status]) => (
      <Status branch={branch} value={status}>
        <Refresh repo={repo} />
      </Status>
    ))
  }
</li>

<style scoped>
  .panel {
    background: #0001;
    width: 350px;
    height: 150px;
    border-radius: 10px;

    display: grid;
    grid-template-rows: repeat(auto-fit, 3em);

    padding: 1em;
  }

  .title {
    color: var(--text);
  }
</style>
